/* src/components/Modal/Modal.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Make the overlay transparent but add a subtle blur to keep focus */
  background-color: transparent;
  -webkit-backdrop-filter: blur(6px) saturate(110%);
  backdrop-filter: blur(6px) saturate(110%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
}

.content {
  position: relative;
  /* The specific modal will style itself */
}